@media screen and (max-width:576px) {
    .header-container {
        flex-direction: column;
        row-gap: 20px;
    }

    .menu {
        flex-direction: column;
        row-gap: 20px;
    }

    /* Banner Section */
    .banner-section {
        background-color: #fff9fc;
        height: 648px;
    }

    .banner-container {
        flex-direction: column;
        width: 100%;
        width: 90%;
        margin: auto;
        padding: 5px0;
    }

    .banner-goat {
        font-size: 30px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    /* Gamer section */

    .gamer-section {
        flex-direction: column-reverse;
        width: 100%;
    }

    .gamer-image {
        width: 100%;
        padding: 20px 20px;
    }

    .gamer-details {
        width: 100%;
        padding: 0 20px;

    }

    .gamer-details h1,
    .gamer-paragraph,
    .gamer-details a,
    .purpose,
    .gamer-details h3 {
        text-align: center;
    }

    .purpose {
        padding: 10px 0;
    }

    .gamer-details a {
        padding: 10px 0;
    }

    /* Online Games */
    .online-games-container {
        flex-direction: column;
    }

    .watch {
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        top: 52%;
        left: 40%;
        padding: 15px;
        color: rgb(184, 27, 79);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .games {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Play games section */
    .play-game-container {
        flex-direction: column;

    }

    .play-game-details {
        width: 100%;
        text-align: center;
        padding: 0 5px;

    }

    .play-game-details h2 {
        width: 100%;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .play-game-details p {
        font-size: 20px;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .play-game-img {
        width: 100%;
        padding-left: 20px;
    }

    .play-game-img img {
        width: 100%;
    }

    .images {
        position: relative;
    }

    .doll {
        max-width: 120px;
        position: absolute;
        top: 270px;
        left: -48px;
    }

    .game-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 5px;
        padding: 0 5px;
    }

    .card {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    /* footer */
    .footer-section {
        margin-top: 30px;
    }

    .our-story {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

    }

    .icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .Terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        font-size: 16px;

    }

    .Terms a {

        font-size: 18px;
        padding: 0 5px;
    }
}