*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section */
.header-section{

    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
    padding: 10px 10px;

}
.header-logo{
    display: flex;
    column-gap: 10px;
    align-items: center;
   
}
.header-logo img{
    width: 30%;
}
.logo-title{
    color: #ff42a5;
}
.menu{
    display: flex;
    column-gap: 20px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu-btn{
    background-color: rgba(128, 128, 128, 0.514);
    padding: 10px 20px;
    border-radius: 5px;
}
.btn-menu
btn-menu{
    font-size: 20px;
}
.youtube-btn{
    color: red;
    padding: 0 5px;
}

/* Banner Section */
.banner-section{
    background-color: rgba(230, 187, 194, 0.534);
    height: 530px;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}
.banner-goat{
    font-size: 40px ;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, red,blue);
    color: transparent;
    -webkit-background-clip: text;
    
}
.banner-paragraph{
    padding: 5px 0;
    
}
.banner-btn{
    margin-top: 15px;
    display: flex;
    column-gap: 10px;
}
.btn-sign{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #ff42a5;
    border: none;
}
.btn-rogue{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #4ec5f7;
    border: none;
}
.icon-1{
    color: red;
   
    
    /* padding: 10px; */
    border-radius: 50%;
    margin-right: 15px;
}
.icon-2{
    color: red;
    margin-right: 15px;
}
.icon-3{
    margin-right: 10px;
}
.banner-img{
    width: 50%;
    
}
.banner-img img {
    width: 100%;
    padding: 10px 10px 10px 100px;
    
    
}