@media screen and (min-width:576px) and (max-width:792px) {
    .banner-section{
        background-color: rgba(230, 187, 194, 0.534);
        height: 370px;
    }
    .banner-img img {
        width: 100%;
        padding: 10px 10px 10px 10px;  
    }
    .gamer-container{
        margin-top: 50px;
    }
    .gamer-section{
       flex-direction: column;
       width: 100%;
    }
    .gamer-image{
        width: 100%;
        padding: 20px 50px;
    }
    .gamer-details{
        width: 100%;
        padding: 0 30px;
    }
    /* Online game */
    .online-games-container{
        flex-direction: column;
    }
    .games{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}